{% extends "base.html" %}

{% block body %}
<main>
  <section>
    <h2>Nomen</h2>

    <p>
      Nomen is an open protocol for global names, like a decentralized DNS, built with Bitcoin and Nostr. The goals of
      the Nomen protocol are decentralization and self-sovereignty.
    </p>

    <p>
      Nomen Explorer is an indexer. It catalogues the Bitcoin blockchain and associated Nomen events on Nostr.
    </p>

    <h3>More Information</h3>

    <p>
      Check out some more information below, starting with the FAQ if you want details. Check out the Explorer if you
      want to see
      what names already exist out there.
    </p>

    <p>
    <ul><a href="/explorer">Explorer</a></ul>
    <ul><a href="https://github.com/ursuscamp/nomen">GitHub</a></ul>
    <ul><a href="https://github.com/ursuscamp/nomen/blob/master/docs/FAQ.md">FAQs</a></ul>
    <ul><a href="https://github.com/ursuscamp/noms">Specification</a></ul>
    <ul><a href="https://github.com/ursuscamp/nomen/blob/master/docs/HOWTO.md">How to get a name</a></ul>
    </p>
  </section>
</main>
{% endblock %}