{% extends "base.html" %}

{% block body %}
<main>
  <h1>{% if upgrade %}Upgrade{% else %}New{% endif %} Name</h1>

  {% if !data.is_empty() %}
  <p>Sign and broadcast this transaction with your Bitcoin wallet:</p>
  <pre id="data">{{ data }}</pre>
  <button id="copy">Copy</button>

  <p>After signing and transmitting the transaction, <a href="/updaterecords?name={{ name }}&pubkey={{ pubkey }}">setup
      your records</a> for the indexer to property index your new name.</p>

  <script>
    let btn = document.getElementById('copy');
    btn.addEventListener('click', async (event) => {
      event.preventDefault();
      let tx = document.getElementById('data').innerHTML;
      await navigator.clipboard.writeText(tx);
      btn.innerHTML = 'Copied'
      setTimeout(() => {
        btn.innerHTML = 'Copy'
      }, 1000);
    });
  </script>

  {% else %}

  {% if upgrade %}
  <p>
    You can upgrade an old-style v0 name to v1 by simply recreating it. As long as the name and pubkey match, the
    protocol will treat it as an upgrade.
  </p>
  {% endif %}

  <p>
    Using a bitcoin wallet, create a partially signed bitcoin transaction from one of your UTXOs to yourself. Save it,
    don't sign and broadcast it yet. This tool will add an extra output to it (a ZERO SAT OP_RETURN output).
    Slightly over-estimate the fees to account for the extra data that will be inserted.
    Enter the name and pubkey you wish to register, as well. After submitting it, you will be returned a new PSBT.
    Simply sign it with your wallet and broadcast. Be sure to check it first, however!
  </p>

  <p>
    Once it is mined and has {{ confirmations }} confirmations, it will be indexed.
  </p>

  <p>
    In order for the indexer to properly index your name, you also need to send your records after you broadcast your
    transaction!
    You can comeback anytime and click on <a href="/updaterecords">Update Records</a> in the navigation menu.
  </p>

  <form action="/newname" method="POST">
    <input type="hidden" name="upgrade" value="{{ upgrade }}">
    <p>
      <label for="psbt">Psbt</label>
      <input type="text" id="psbt" name="psbt">
    </p>

    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{ name }}">
    </p>

    {% include "pubkey.html" %}

    <p>
      <input type="submit" value="Submit">
    </p>
  </form>



  {% endif %}
</main>

{% endblock %}