<p>
  <label for="pubkey">Pubkey (hex or npub encoded)</label>
  <input type="text" id="pubkey" name="pubkey" value="{{ pubkey }}">
  <br>
  <small><a href="#" id="nip07">Use NIP-07</a></small>
</p>

<script>
  document.getElementById('nip07').addEventListener('click', async (event) => {
    console.log('getting pubkey');
    event.preventDefault();
    if (window.nostr) {
      let pubkey = await window.nostr.getPublicKey();
      document.getElementById('pubkey').value = pubkey;
    }
  });
</script>