{% extends "base.html" %}

{% block body %}
<main>
  <table>
    <tbody>
      <tr>
        <td>Fingerprint</td>
        <td>{{claim.fingerprint}}</td>
      </tr>
      <tr>
        <td>Nsid</td>
        <td>{{claim.nsid}}</td>
      </tr>
      <tr>
        <td>Blockhash</td>
        <td><a href="https://mempool.space/block/{{claim.blockhash}}">{{claim.blockhash}}</a></td>
      </tr>
      <tr>
        <td>Txid</td>
        <td><a href="https://mempool.space/tx/{{claim.txid}}">{{claim.txid}}</a></td>
      </tr>
      <tr>
        <td>Blocktime</td>
        <td>{{blocktime}}</td>
      </tr>
      <tr>
        <td>Blockheight</td>
        <td>{{claim.blockheight}}</td>
      </tr>
      <tr>
        <td>Txheight</td>
        <td>{{claim.txheight}}</td>
      </tr>
      <tr>
        <td>Vout</td>
        <td>{{claim.vout}}</td>
      </tr>
      <tr>
        <td>Indexed At</td>
        <td>{{indexed_at}}</td>
      </tr>
    </tbody>
  </table>
</main>
{% endblock %}