{% extends "base.html" %}

{% block body %}
<main>
  <h1>Transfer Name</h1>

  <p>
    To transfer a name, two transfer transactions must be broadcast containting data for the new owner, and a signature
    authorizing the transfer, signed by the original owner.
  </p>

  <p>
    Provide UTXO information below, and then you will be prompted to sign the transfer with your Nostr extension.
  </p>

  <form action="/transfer" method="POST">
    <h2>Input Tx</h2>
    <p>
      <label for="txid">Txid</label>
      <input type="text" name="txid" id="txid">
    </p>

    <p>
      <label for="vout">Vout</label>
      <input type="text" name="vout" id="vout">
    </p>

    <h2>Output</h2>

    <p>
      <label for="address">Change Address</label>
      <input type="text" id="address" name="address">
    </p>

    <p>
      <label for="fee">Fee (sats/vb)</label>
      <input type="text" id="fee" name="fee">
    </p>

    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
    </p>

    <p>
      <label for="pubkey">New owner pubkey (hex or npub encoded)</label>
      <input type="text" id="pubkey" name="pubkey">
    </p>

    <p>
      <label for="old_pubkey">Previous owner pubkey (hex or npub encoded)</label>
      <input type="text" id="old_pubkey" name="old_pubkey">
    </p>

    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
</main>
{% endblock %}