{% extends "base.html" %}

{% block body %}
<main>
  <h1>Sign Transfer</h1>

  <p>
    You will be prompted to sign an authorization event with your NIP-07 extension. Please make sure to sign it with the
    key that is the owner of the current domain.
  </p>

  <form id="signform" action="/transfer/sign" method="POST">
    <input type="hidden" id="txid" name="txid" value="{{txid}}">
    <input type="hidden" id="vout" name="vout" value="{{vout}}">
    <input type="hidden" id="address" name="address" value="{{address}}">
    <input type="hidden" id="fee" name="fee" value="{{fee}}">
    <input type="hidden" id="name" name="name" value="{{name}}">
    <input type="hidden" id="pubkey" name="pubkey" value="{{pubkey}}">
    <input type="hidden" id="old_pubkey" name="old_pubkey" value="{{old_pubkey}}">
    <input type="hidden" id="sig" name="sig">

    <p>
      <input id="submitbtn" type="submit" value="Sign & Submit">
    </p>
  </form>
  <input type="hidden" id="event" name="event" value="{{event}}">
</main>

<script>
  document.getElementById('submitbtn').addEventListener('click', (event) => {
    event.preventDefault();
    let unsigned = document.getElementById('event').value;
    unsigned = JSON.parse(unsigned);

    window.nostr.signEvent(unsigned).then((signed) => {
      console.log('event signed:', signed);
      document.getElementById('sig').value = signed.sig;
      document.getElementById('signform').submit();
    });
  });
</script>
{% endblock %}