{% extends "base.html" %}

{% block body %}
<main>
  <h2>Explorer</h2>

  <p><small>Last indexed at {{ last_index_time }}.</small></p>

  <p>This is a list of verified claims. Click <a href="/uncorroborated_claims">here</a> for a list claims uncorroborated with any events.</p>

  <form action="/explorer">
    <input name="q" value="{{ q }}" placeholder="Search...">
  </form>

  <p>
    Select a name to see its current record set.
  </p>

  <p>
    {% if names.len() == 0 %}
    <h4>No names found!</h4>
    {% else %}
    <ul>
      {% for name in names %}
      <li><a href="/explorer/{{ name.1 }}">{{ name.1 }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </p>
</main>
{% endblock %}