{% extends "base.html" %}

{% block body %}
<main>
  <section>
    <h2>Nomen</h2>
    
    <p>
      Nomen is an open protocol for global names, like a decentralized DNS, built with Bitcoin and Nostr.
    </p>

    <p>
      Goals of Nomen:
    </p>

    <ul>
      <li><b><i>Decentralized</i></b>: Rules, not rulers!</li>
      <li><b><i>Self-sovereign</i></b>: You own your identity.</li>
      <li><b><i>Censorship resistant</i></b>: Anyone can find you.</li>
      <li><b><i>Permissionless</i></b>: No one can stop you.</li>
    </ul>

    <h3>More Information</h3>

    <p>
      Check out some more information below, starting with the FAQ if you want details. Check out the Explorer if you want to see
      what names already exist out there.
    </p>

    <p>
      <ul><a href="/explorer">Explorer</a></ul>
      <ul><a href="https://github.com/ursuscamp/nomen">GitHub</a></ul>
      <ul><a href="https://github.com/ursuscamp/nomen/blob/master/docs/FAQ.md">FAQs</a></ul>
      <ul><a href="https://github.com/ursuscamp/nomen/blob/master/docs/SPEC.md">Specification</a></ul>
      <ul><a href="https://github.com/ursuscamp/nomen/blob/master/docs/HOWTO.md">How to get a name</a></ul>
    </p>
  </section>
</main>
{% endblock %}