{% extends "base.html" %}

{% block body %}
<main>
  <p>You must build an unsigned transaction to reserve a name. Please enter UTXO data below.</p>

  <form action="/newname" method="POST">
    <p><strong>Input</strong></p>
    <p>
      <label for="txid">Txid</label>
      <input type="text" id="txid" name="txid" value="{{ txid }}">
    </p>

    <p>
      <label for="vout">Vout</label>
      <input type="text" id="vout" name="vout" value="{{ vout }}">
    </p>

    <p><strong>Output</strong></p>

    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{ name }}">
    </p>
    
    <p>
      <label for="address">Address</label>
      <input type="text" id="address" name="address" value="{{ address }}">
    </p>

    <p><strong>Nostr</strong></p>
    
    <p>
      <label for="pubkey">Pubkey (hex-encoded)</label>
      <input type="text" id="pubkey" name="pubkey" value="{{ pubkey }}">
      <br>
      <small><a href="#" id="nip07">Use NIP-07</a></small>
    </p>

    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
</main>

<script>
  document.getElementById('nip07').addEventListener('click', async (event) => {
    console.log('getting pubkey');
    event.preventDefault();
    if (window.nostr) {
      let pubkey = await window.nostr.getPublicKey();
      document.getElementById('pubkey').value = pubkey;
    }
  });

</script>
{% endblock %}