{% extends "base.html" %}

{% block body %}
<main>
  <h1>New Name</h1>
  <p>You must build an unsigned transaction to reserve a name. Please enter UTXO data below.</p>

  {% if !unsigned_tx.is_empty() %}
  <p>Sign and broadcast this transaction with your bitcoin wallet:</p>
  <pre id="unsigned-tx">{{ unsigned_tx }}</pre>
  <button id="copy">Copy</button>

  <p>After signing and transmitting the transaction, <a href="/newrecords?name={{ name }}">setup your records.</a></p>

  <script>
    let btn = document.getElementById('copy');
    btn.addEventListener('click', async (event) => {
      event.preventDefault();
      let tx = document.getElementById('unsigned-tx').innerHTML;
      await navigator.clipboard.writeText(tx);
      btn.innerHTML = 'Copied'
      setTimeout(() => {
        btn.innerHTML = 'Copy'
      }, 1000);
    });
  </script>
  
  {% else %}
  <form action="/newname" method="POST">
    <p><strong>Input</strong></p>
    <p>
      <label for="txid">Txid</label>
      <input type="text" id="txid" name="txid" value="{{ txid }}">
    </p>

    <p>
      <label for="vout">Vout</label>
      <input type="text" id="vout" name="vout" value="{{ vout }}">
    </p>

    <p><strong>Output</strong></p>

    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{ name }}">
    </p>
    
    <p>
      <label for="address">Address</label>
      <input type="text" id="address" name="address" value="{{ address }}">
    </p>

    {% include "pubkey.html" %}

    <p>
      <label for="fee">Fee</label>
      <input type="text" id="fee" name="fee" value="{{ fee }}">
    </p>

    <p>
      <input type="submit" value="Submit">
    </p>
  </form>



  {% endif %}
</main>

{% endblock %}