{% extends "base.html" %}

{% block body %}
<main>
  <h1>New Name</h1>

  {% if !psbt.is_empty() %}
  <p>Sign and broadcast this transaction with your Bitcoin wallet:</p>
  <pre id="psbt">{{ psbt }}</pre>
  <button id="copy">Copy</button>

  <p>After signing and transmitting the transaction, <a href="/updaterecords?name={{ name }}&pubkey={{ pubkey }}">setup your records</a> for the indexer to property index your new name.</p>

  <script>
    let btn = document.getElementById('copy');
    btn.addEventListener('click', async (event) => {
      event.preventDefault();
      let tx = document.getElementById('psbt').innerHTML;
      await navigator.clipboard.writeText(tx);
      btn.innerHTML = 'Copied'
      setTimeout(() => {
        btn.innerHTML = 'Copy'
      }, 1000);
    });
  </script>
  
  {% else %}
  <p>
    Using your Bitcoin wallet, create an unsigned PSBT and paste it below (Base64 encoding).
    Make sure to slightly overestimate fees, because this process below will add an extra output.
    After you submit the form, you will receive an update PSBT. Just copy and paste it back to into your
    Bitcoin wallet to sign and broadcast.
  </p>

  <p>
    The indexer waits for {{confirmations}} block confirmations.
  </p>

  <p>
    In order for the indexer to properly index your name, you also need to send your records after you broadcast your transaction!
    You can comeback anytime and click on <a href="/updaterecords">Update Records</a> in the navigation menu.
  </p>
  
  <form action="/newname" method="POST">
    <h2>Input</h2>
    <p>
      <label for="psbt">PSBT</label>
      <textarea name="psbt" id="psbt" cols="30" rows="10">{{ psbt }}</textarea>
    </p>

    <h2>Output</h2>

    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{ name }}">
    </p>

    {% include "pubkey.html" %}

    <p>
      <input type="submit" value="Submit">
    </p>
  </form>



  {% endif %}
</main>

{% endblock %}