{% extends "base.html" %}

{% block body %}
<main>
  <h1>New Records</h1>
  <form action="newrecords" method="post">
    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{ name }}">
    </p>

    <p>
      <label for="records">
        Enter records below. Each record should be on its own line, with a key and value separated by an equal (=) sign.
      </label>
      <textarea name="records" id="records" cols="30" rows="10">KEY=value</textarea>
    </p>

    <p>
      <input type="submit" value="Create Event">
    </p>
  </form>
</main>
{% endblock %}