{% extends "base.html" %}

{% block body %}
<main>
  <h2>{{ name }}</h2>

  <h3>Blockchain Info</h3>

  <table>
    <tbody>
      <tr>
        <td>Blockhash</td>
        <td>{{ blockhash }}</td>
      </tr>
      <tr>
        <td>Block Height</td>
        <td>{{ height }}</td>
      </tr>
      <tr>
        <td>Txid</td>
        <td>{{ txid }}</td>
      </tr>
      <tr>
        <td>Vout</td>
        <td>{{ vout }}</td>
      </tr>

      <tr>
        <td>Blocktime</td>
        <td>{{ blocktime }}</td>
      </tr>

      <tr>
        <td>Owner (pubkey)</td>
        <td>{{ pubkey }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Records</h3>

  <p><small><a href="/updaterecords?name={{ name }}&pubkey={{ pubkey }}">Update Records</a></small></p>

  {% if records.is_empty() %}
  <p>No records found.</p>
  {% else %}
  <p><small>Last updated at {{ records_created_at }}.</small></p>
  <table>
    <thead>
      <tr>
        <th>Record Type</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
      {% for key in record_keys %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ records[key] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}