{% extends "base.html" %}

{% block body %}
<main>
  <h2>{{ name }}</h2>

  <h3>Records</h3>

  {% if records.is_empty() %}
  <p>No records found.</p>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>Record Type</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
      {% for kv in records %}
      <tr>
        <td>{{ kv.0 }}</td>
        <td>{{ kv.1 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <h3>Children</h3>

  {% if children.is_empty() %}
  <p>No children found.</p>
  {% else %}
  <ul>
    {% for child in children %}
    <li><a href="/explorer/{{ child.1}}">{{ child.0 }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</main>
{% endblock %}